root = true # Ondne o editor config "para" após procurar em .. por arquivos .editorconfig

[*] # Regras válidas para todos os arquivos
indent_style = space # Indentação sempre espaço
indent_size = 2 # Tamanho da indentação